<!DOCTYPE html>
{% load static %}
<html>
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="{% static 'js/buku.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <title>books</title>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

</head>
<body>
  <p class="title text-white" id="status" style="font-size: 50px; text-align: center"><strong>BOOKS</strong></p>
  <div class="row">
    <div class="search-box">
        <input class="search-txt" type="text" id="barbar" placeholder="type to search">
        <a class="search-btn" href="#" id="teken">
            <i class="fas fa-search"></i>
        </a>
    </div>

  {% if user.is_authenticated %}
    <header><a class="tulisan" href= "{% url 'story_9:logout'%}" style="text-transform:none; margin-top: 3%;">
      <div class="left">
        <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
      </div>
        Log Out
    </a>
    <p class="display-4 text-white">Hello, {{ user.username }}</p>
  </header>
  {% else %}
  <header><a class="tulisan" href="{% url 'social:begin' 'google-oauth2' %}" style="text-transform:none">
              <center><div class="left">
                  <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
              </div>
            Login with Google
          </a></center>
  </header>
  {% endif %}
  </div>
  <br>

  <div class = "container" >
    <div class = "text-right">
    <h2 id="statusBuku" class="text-white"><i class='fa fa-heart'style = 'color : #FF6F91'></i> {{ count }}</h2></div>
    <table class = "table table-striped" id = "shelf" style = "background-color: white"></table>
  </div>
</body>
</html>