.button {
    font-size: 100%;
    margin: 3vw 2vw;
    cursor: pointer;
}

.button1 {
    padding: 8px;
    width: 90px;
    height: 90px;
    line-height: 50px;
    border-radius: 500%;
    background-color: honeydew;
}

.greeting {
    margin-top: 150px;
    font-family: "Arial";
}
.divider {
    width: 80px;
    height: auto;
    display: inline-block;
}
body {
    background-color: deeppink;
}
img {
    padding: 20px;
    max-height: 300px;
}

.format {
    background-image: url("https://preview.ibb.co/cJdCHK/Screen_Shot_2018_09_19_at_18_14_11.png");
    background-repeat: repeat;
    background-size: 104% 114%;
}

.farewell {
    margin-top: 0px;
    font-family: "Arial";
}

#about {
    background: linear-gradient(to right, orange 0%, orange 50%, grey 50%, grey 100%);
}

#buton {
    padding: 40px;
}

#tombol {
    background-color: #609ab6;
}

table {
    background-color: grey;
}

input {
    width: 100%;
}

html, body, .container{
    height: -moz-calc(100% - 100px);
    height: -webkit-calc(100% - 100px);
    height: calc(100% + 30px - 100px);
    margin:0;
    padding:0;
}
