body{
	background-image: url("https://preview.ibb.co/f2nwLA/black-textures-elegant-background-silk-theme-wallpaper.jpg");
}

body.latar{
	background-image: url("https://preview.ibb.co/muuthq/IMG-6399.jpg");
}

.words{
	margin-top: 50px;
	color: beige;
}

ul{
	position: absolute;
	top: 20px;
	right: 20px;
	margin: 0;
	padding: 0;
	width: 100px;
	height: 30px;
	z-index: 1;
	border: 1px solid maroon;
	cursor: pointer;
	overflow: hidden;
}

ul li{
	list-style: none;
	width: 100%;
	height: 60px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-color: maroon;
	color: white;
}

ul.change li{
	background-color: black;
	border-style: black;
}

ul.active li{
	transform: translateY(-30px);
}

ul li span{
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	color: #fff;
}

p{
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	padding: 100px;
	transition: 0.5s;
}

.white-text{
	color: white;
}


