{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <title>Regist Now!</title>
    <link rel= "stylesheet" type= "text/css" href= "{% static 'Style.css' %}">
</head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.29.0/dist/sweetalert2.all.min.js"></script>
    <script src="{% static 'js/subscribe.js' %}"></script>
</head>
    <body class="format">
        <div class="row">
        <div class="col-sm-12">
            <h2 style="text-align: center; margin-top: 4%">Fill this form to subscribe!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form method="POST">
                <div class="container center_div" style="width: 30%" id="form">
                    {%csrf_token%}
                    {{form}}
                <br>
                <button class="buton btn btn-dark" id="submit" style="">Subscribe</button>
                </div>
            </form>
        </div>
    </div>

        <!-- <center>
            <div class="row">
                <div class="col-sm-6">
                    <br>
                    <h1>BE AN INSIDER</h1>
                </div>
            </div>

            <div class="col-sm-6">
                <br>
                <br>
            </div>
        </center>

            <div class="col-md-8">
                <form>
                    {% csrf_token %}
                    Name:<br>
                    <input class="username" type="text" name="name">
                    <br>
                    Email:<br>
                    <input class="email" type="email" name="imel">
                    <br>
                    Password:<br>
                    <input class="password" type="password" name="pw">
                    <br>
                    <br>
                    <input class="button" type="submit" id="tombol" class="btn btn-info"></input>
                </form>
            </div> -->
    </body>
</html>