{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width" />
	<meta charset="UTF-8">
	<title>Get to Know Me</title>
	<link rel= "stylesheet" type= "text/css" href= "{% static 'theme.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/Classed");>
	<script src="{% static 'js/script.js' %}"></script>
	<script src="{% static 'js/jquery-3.3.1.js' %}"></script>
</head>

<body class="latar">
	<div class='progress' id="progress_div">
		<div class='bar' id='bar1'></div>
		<div class='percent' id='percent1'></div>
	</div>

	<center><h1 class="words">OPEN TAB FOR JUICY STUFF</h1></center>
	<ul>
		<li>
			<span>Ubah Tema</span>
			<span>Black</span>
		</li>
	</ul>

	<script type="text/javascript">
		$(document).ready(function(){
			$('ul').click(function(){
				$('ul').toggleClass('active')
				$('.card').toggleClass('bg-dark')
				$('body').toggleClass('latar')
				$('ul').toggleClass('change')
			})
		})
	</script>
	    <!-- Content -->
	    <div class="rgba-black-strong py-5 px-4">
	        <div class="row d-flex justify-content-center">
	            <div class="col-md-10 col-xl-8">

	                <!--Accordion wrapper-->
	                <div class="accordion md-accordion accordion-5" id="accordionEx5" role="tablist" aria-multiselectable="true">

	                    <!-- Accordion card -->
	                    <div class="card mb-4 text-white bg-danger">

	                        <!-- Card header -->
	                        <div class="card-header p-0 z-depth-1" role="tab" id="heading30">
	                            <a data-toggle="collapse" data-parent="#accordionEx5" href="#collapse30" aria-expanded="true" aria-controls="collapse30">
	                                <i class="fa fa-cloud fa-2x p-3 mr-4 float-left black-text" aria-hidden="true"></i>
	                                <h4 class="text-uppercase text-white mb-0 py-3 mt-1">
	                                    Aktivitas
	                                </h4>
	                            </a>
	                        </div>

	                        <!-- Card body -->
	                        <div id="collapse30" class="collapse show" role="tabpanel" aria-labelledby="heading30" data-parent="#accordionEx5">
	                            <div class="card-body rgba-black-light z-depth-1">
	                            	<center><img src="https://preview.ibb.co/bz4FVA/IMG-8812.jpg" width="20%"></center>
	                                <p class="p-md-4 mb-0">Halo visitors, nama saya Adinda Raisha Hanief Hawari. Kalian bisa panggil saya Adinda. Saya berkuliah di Universitas Indonesia mengambil jurusan Sistem Informasi di Fakultas Ilmu Komputer. Kesibukan saya saat ini salah satunya menjadi PR di organisasi internasional, CIOFF Indonesia. Selain itu, saya juga anggota dari BEM Seni Budaya Fasilkom UI.</p>
	                            </div>
	                        </div>
	                    </div>
	                    <!-- Accordion card -->

	                    <!-- Accordion card -->
	                    <div class="card mb-4 text-white bg-danger">

	                        <!-- Card header -->
	                        <div class="card-header p-0 z-depth-1" role="tab" id="heading31">
	                            <a data-toggle="collapse" data-parent="#accordionEx5" href="#collapse31" aria-expanded="true" aria-controls="collapse31">
	                                <i class="fa fa-commenting-o fa-2x p-3 mr-4 float-left black-text" aria-hidden="true"></i>
	                                <h4 class="text-uppercase text-white mb-0 py-3 mt-1">
	                                    Pengalaman
	                                </h4>
	                            </a>
	                        </div>

	                        <!-- Card body -->
	                        <div id="collapse31" class="collapse" role="tabpanel" aria-labelledby="heading31" data-parent="#accordionEx5">
	                            <div class="card-body rgba-black-light z-depth-1">
	                                <p class="p-md-4 mb-0">Pengalaman saya salah satunya adalah pernah mengikuti misi budaya yang diadakan oleh CIOFF Indonesia di Turki pada tahun 2013, Maroko pada tahun 2014, dan Taiwan pada tahun 2015.</p>
	                            </div>
	                        </div>
	                    </div>

	                    <!-- Accordion card -->
	                    <div class="card mb-4 text-white bg-danger">

	                        <!-- Card header -->
	                        <div class="card-header p-0 z-depth-1" role="tab" id="heading32">
	                            <a data-toggle="collapse" data-parent="#accordionEx5" href="#collapse32" aria-expanded="true" aria-controls="collapse32">
	                                <i class="fa fa-cogs fa-2x p-3 mr-4 float-left black-text" aria-hidden="true"></i>
	                                <h4 class="text-uppercase text-white mb-0 py-3 mt-1">
	                                    Prestasi
	                                </h4>
	                            </a>
	                        </div>

	                        <!-- Card body -->
	                        <div id="collapse32" class="collapse" role="tabpanel" aria-labelledby="heading32" data-parent="#accordionEx5">
	                            <div class="card-body rgba-black-light z-depth-1">
	                                <p class="p-md-4 mb-0">Prestasi saya salah satunya adalah menjadi juara 3 di kompetisi Vocal Group Save Music Indonesia yang diadakan di salah satu channel TV, Metro TV pada tahun 2017</p>
	                            </div>
	                        </div>
	                    </div>
	                    <!-- Accordion card -->
	                </div>
	                <!--/.Accordion wrapper-->
	            </div>
	        </div>
	    </div>
	    <!-- Content -->
	    <input type="hidden" id="progress_width" value="0">
	</body>
</html>