body{
    margin: 0;
    padding: 0;
}

.table-info, .table-info>td, .table-info>th{
    background-color: transparent;
}

.container{
    margin-top: 30px;
    position: relative;
}
.button-delete{
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 30px;
}

body, html {
    height: 100%;
    background-image: url("https://preview.ibb.co/muuthq/IMG-6399.jpg");
}

.search-box{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-btn{
    color: #e84118;
    float: right;
    width: 40px;
    height: 20px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 10px;
    width: 0px;
}

.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn{
    background: white;
}