.table-info, .table-info>td, .table-info>th{
    background-color: transparent;
}

.container{
    margin-top: 30px;
    position: relative;
}
.button-delete{
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 30px;
}

body, html {
    height: 100%;
    background-image: url("https://preview.ibb.co/muuthq/IMG-6399.jpg");
}

.search-box{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 50px;
    border-radius: 40px;
    padding: 10px;
}

.search-btn{
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}
.roundedrec {
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
    margin-top:17px;
    margin-bottom:17px;    
}

.isi {
    color: #FFFFFF;
    font-size: 16px;
    padding-left: 20px;
}

.insiderec {
    padding: 30px;
    overflow-wrap: break-word;
}

.judul {
    color: #999999;
    text-align: left;
    padding-bottom: 5px;
}

.img2{
    border-radius:  100%;
}