{% include 'Bars.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta charset="UTF-8">
        <title>Introducing Me</title>
        <link rel= "stylesheet" type= "text/css" href= "{% static 'Style.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body id="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>GET TO KNOW ME BETTER</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">

                </div>

                <div class="col-sm-4">
                    <center><a href="https://ibb.co/g1SeEe"><img src="https://preview.ibb.co/kG4Rue/IMG_8812.jpg" style="width:200px"/></a></center>
                </div>

                <div class="col-sm-4">
                    <h2 style="margin-top: 30%">MOTTO</h2>
                    <p>"wish for the best, prepare for the worst", wise man said.</p>
                    <h2>BORN IN</h2>
                    <p>Jakarta, September 14th 1999</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <p>Greetings! I'm Adinda. <br/>
                        Adinda Raisha Hanief Hawari is my full name. <br/>
                        My friends often call me by my last name, Hawari, and for short, Haw.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>