{% include 'Bars.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <title>Family</title>
    <link rel= "stylesheet" type= "text/css" href= "{% static 'Style.css' %}">
</head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row" style="background-color: white;">
            <div class="col-sm-6">
                <h1>GET TO KNOW ME BETTER</h1>
            </div>
        </div>

        <div class="row" style="background-color: deeppink">

           <center> 
                <div class="col">
                    <a href="https://ibb.co/dGjmRe"><img src="https://preview.ibb.co/iX5FKz/40373c78_6512_455d_930d_c3ccd213563f.jpg" alt="40373c78_6512_455d_930d_c3ccd213563f" border="0"></a>
                    <a href="https://ibb.co/bZC6Re"><img src="https://preview.ibb.co/hqZaKz/HNF_8853.jpg" alt="HNF_8853" border="0"></a>
                    <a href="https://ibb.co/eZCZCK"><img src="https://preview.ibb.co/cjSO6e/IMG_4104.jpg" alt="IMG_4104" border="0"></a>
                    <a href="https://ibb.co/dvN1sK"><img src="https://preview.ibb.co/fiOVme/IMG_0790.jpg" alt="IMG_0790" border="0"></a>
                </div>
            </center>
        </div>
    </div>
</body>
</html>