{% include 'Bars.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <title>Goodbye!</title>
    <link rel= "stylesheet" type= "text/css" href= "{% static 'Style.css' %}">
</head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
    <body class="format">
        <center>
            <div class="row">
                <div class="col-sm-6">
                    <br>
                    <h1>BE AN INSIDER</h1>
                </div>
            </div>

            <div class="col-sm-6">
                <br>
                <br>
            </div>
        </center>

            <div class="col-md-8">
                <form>
                    Name:<br>
                    <input type="text" name="name">
                    <br>
                    Date of Birth:<br>
                    <input type="date" name="date">
                    <br>
                    Email:<br>
                    <input type="email" name="imel">
                    <br>
                    Username:<br>
                    <input type="text" name="un">
                    <br>
                    Password:<br>
                    <input type="password" name="pw">
                    <br>
                    Password Confirmation:<br>
                    <input type="password" name="pwc">
                    <br>
                    <br>
                    <button id="tombol" class="button button1">DAFTAR</button>
                </form>
            </div>
    </body>
</html>