{% include 'Bars.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <title>Goodbye!</title>
    <link rel= "stylesheet" type= "text/css" href= "{% static 'Style.css' %}">
</head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
    <body class="format">
        <div class="container">
            <center>
                <div class="row">
                    <div class="col-sm-6">
                        <br>
                        <h1>BE AN INSIDER</h1>
                    </div>
                </div>

                <div class="col-sm-6">
                    <table class="bg-red" align= "center" border="2">
                        <th><center>Date</center></th>
                        <th><center>Activities</center></th>
                        <th><center>Place</center></th>
                        <th><center>Category</center></th>
                        {% for s in sched %}
                        <tr>
                            <td><center> {{ s.date }} </center></td>
                            <td><center> {{ s.activities }} </center></td>
                            <td><center> {{ s.place }} </center></td>
                            <td><center> {{ s.category }} </center></td>
                        </tr>
                        {% endfor %}
                    </table>
                    <br>
                    <br>
                </div>
            </center>


            <div class="col-md-6">
                <form action="{% url 'lab_1:submit' %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <br>
                    <br>
                    <button id="tombol" class="button button1">DAFTAR</button>
                </form>
                <form action="{% url 'lab_1:delete' %}" method="post">
                    {% csrf_token %}
                    <button id="tombol" class="button button1">DELETE ALL</button>
                </form>
            </div>
        </div>
    </body>
</html>