{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Home</title>
        <link rel= "stylesheet" type= "text/css" href= "{% static 'Style.css' %}">
    </head>

    <body>
        <center>
            <div>
                <a href="{% url 'lab_1:home' %}"><button class="button button1">HOME</button></a>
            </div>

            <div>
                <a href="{% url 'lab_1:about' %}"><button class="button button1">ABOUT</button></a>
                <div class="divider"></div>
                <a href="{% url 'lab_1:family' %}"><button class="button button1">FAMILY</button></a>
            </div>

            <div>
                <a href="{% url 'lab_1:form' %}"><button class="button button1">REGISTER</button></a>
            </div>
        </center>

        <center><h1 class="greeting">CALL me HAW!</h1></center>
    </body>
</html>